@import 'tailwindcss';
@import '@fontsource-variable/geist-mono/wght.css';

:root {
  --font-mono: 'Geist Mono Variable', monospace;
}

@theme {
  --animate-marquee: marquee 20s linear infinite;
}

body {
  font-family: var(--font-mono);
  font-variant-ligatures: none;
  @apply text-sm leading-tight antialiased;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-color: #eeeeee;
    --link-color: #4db8ff;
  }
  body {
    background-color: #000;
    color: var(--text-color);
  }
}
@media (prefers-color-scheme: light) {
  :root {
    --text-color: #000000;
    --link-color: #0052cc;
  }
  body {
    color: var(--text-color);
  }
}

a,
a:visited {
  color: var(--link-color);
  cursor: pointer;
  width: fit-content;
}
a:hover {
  color: var(--text-color);
  background-color: var(--link-color);
}

li {
  @apply mx-0.5 list-inside list-[square];
}

hr {
  color: gray;
}

@keyframes marquee {
  from {
    transform: translateX(-50%);
  }
  to {
    transform: translateX(0);
  }
}
